.project-icon {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: #ccc;
}

.postcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  overflow: hidden;
}

.gallery-img {
  overflow: hidden;
  border-radius: 6px;
}

.gallery-img img {
  transition: all 0.3s;
  max-width: 36rem;
}

.gallery-img img:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.myproject-description {
  margin-top: 3.6rem;
  font-size: 2.4rem;
  text-align: center;
}
.gallery-title {
  font-size: 2.4rem;
}

/******************************************************************************/
/* BELOW 1664px  */
/******************************************************************************/
@media (max-width: 104em) {
  .gallery-img img {
    max-width: 32rem;
  }
}

/******************************************************************************/
/* BELOW 1504px  */
/******************************************************************************/
@media (max-width: 94em) {
  .gallery-img img {
    max-width: 28rem;
  }
}

/******************************************************************************/
/* BELOW 1376px  */
/******************************************************************************/
@media (max-width: 86em) {
  .gallery-img img {
    max-width: 24rem;
  }
}

/******************************************************************************/
/* BELOW 1280px  */
/******************************************************************************/
@media (max-width: 80em) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
  .gallery-img img {
    max-width: 28rem;
  }
}

/******************************************************************************/
/* BELOW 1056px  */
/******************************************************************************/
@media (max-width: 66em) {
  .gallery-img img {
    max-width: 24rem;
  }
}

/******************************************************************************/
/* BELOW 928px  */
/******************************************************************************/
@media (max-width: 58em) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  .gallery-img img {
    max-width: 32rem;
  }
}

/******************************************************************************/
/* BELOW 800px  */
/******************************************************************************/
@media (max-width: 50em) {
  .gallery-img img {
    max-width: 28rem;
  }
}

/******************************************************************************/
/* BELOW 672px  */
/******************************************************************************/
@media (max-width: 42em) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
  }
  .gallery-img img {
    max-width: 32rem;
  }
}

/******************************************************************************/
/* BELOW 480px  */
/******************************************************************************/
@media (max-width: 30em) {
  .myproject-description {
    font-size: 2rem;
  }

  .gallery {
    grid-template-columns: repeat(1, 1fr);
  }

  .gallery-title {
    font-size: 2rem;
  }
}
