.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #0b7285;
  padding: 0 1.8rem;
  font-size: 2.8rem;
  font-weight: 700;
  position: fixed; /*Optional*/
  z-index: 10;
  top: 0;
}

.menu-icons {
  padding: 1rem;
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s;
  color: #bbb;
}

.menu-icons:hover {
  color: #eee;
}

/******************************************************************************/
/* BELOW 480px  */
/******************************************************************************/
@media (max-width: 30em) {
  .nav-container {
    font-size: 2rem;
  }
}
