* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bs-body-color: #ccc;
  --bs-body-font-family: 'Roboto Condensed', sans-serif;
}

html {
  color: #ccc;
  font-size: 62.5%;
  overflow-x: hidden;
  background-color: #111;
  display: flex;
  flex-direction: column;
}

hr {
  margin: 36rem 1.8rem 9.8rem;
  border: 0;
  border-top: 0.5px solid;
  z-index: 0;
}

input,
textarea {
  border: none;
}

*:focus {
  outline: none;
  /* box-shadow: 0 0 0 0.6rem rgba(204, 204, 204, 0.6); */
  box-shadow: 0 0 0 0.6rem rgba(255, 169, 77, 0.6);
}

.h1-title {
  font-size: 4.8rem;
  color: #a61e4d;
}

.h2-title {
  text-align: center;
  margin-bottom: 3.6rem;
  font-size: 3.6rem;
  padding: 1.8rem;
  color: #ffa94d;
}

/* .sticky .nav-container {
  position: fixed;
  z-index: 10;
  top: 0;
} */

/******************************************************************************/
/* BELOW 480px  */
/******************************************************************************/
@media (max-width: 30em) {
  .h1-title {
    font-size: 3.4rem;
  }

  .h2-title {
    font-size: 3.2rem;
  }
}
